<div class="demo-flex-display">
   <div style="margin: auto;
   width: 50%;
   height: 100%;
   padding: 10px; text-align: left;">
        <h3 class="oj-sm-margin-10x-vertical">Login to INB</h3>
        <oj-c-input-text label-hint="Username" value="{{username}}"></oj-c-input-text>
        <oj-input-password
        class="oj-sm-margin-4x-top"
        label-hint="Password"
        value="{{password}}""
        mask-icon="visible"></oj-input-password>
        <oj-button id="chroming_button4" chroming="callToAction" class="oj-sm-width-full oj-sm-margin-4x-top" on-oj-action="[[buttonAction]]">
            LOG IN
        <span slot="endIcon" class="oj-ux-ico-arrow-circle-right"></span>
        </oj-button>
   </div>
   <oj-messages
    messages="[[messagesDataprovider]]"
    position="{}"
    display="notification"
    display-options.category="none"></oj-messages>
  </div>